@charset "UTF-8";
/**
 * @author: Cloé Ouellette
 */

/* IMPORTER D'ABORD LES POLICES DE CARACTÈRES */

@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@400;700&family=Viga&display=swap');

/* IMPORTER LES FICHIERS CSS */
@import url(normalize.css);
@import url(utilitaires.css);
@import url(base.css);
@import url(typo.css);
@import url(grille.css);
@import url(animations.css);


/* -------------------------------------------------------------------------------------------------------- */

body {
    background: url(../images/fondimage2-0.svg) no-repeat;
    background-size: cover;
}

main {
    margin: 0;
}

@media (min-width: 930px) {
    main {
        width: 900px;
        margin: 0 auto;
    }
}

@media (min-width: 1350px) {
    main {
        width: 1300px;
        margin: 0 auto;
    }
}

.logo {
    margin: 0 auto;
    padding: 20px 12px 5px;
    display: flex;
    justify-content: center;
}

.logo--signature {
    width: 300px;
}

@media (min-width: 930px) {
    .logo--signature {
        width: 514px;
    }
}

fieldset {
    border: none;
    margin: 0 0 50px 0;
}

/* @media (min-width: 930px){
    fieldset{
        margin:0 70px;
    }
} */

ul {
    list-style: none;
}

i {
    padding-left: 3px;
}

.erreur {
    text-align: center;
    font-size: 3rem;
    font-family: Viga;
}



/* BOUTONS ------------------------------------------------------------------------------------------------------------ */

/* Boutons radios */

label {

    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    color: #000000;
}

input[type=radio]+label {
    display: inline-block;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 14px 17px;

    width: 290px;
    height: 50px;

    border: 1px solid #000000;
}

@media (min-width: 930px) {
    input[type=radio]+label {
        width: 290px;
        height: 70px;
    }
}

input[type="radio"]:hover+label {
    cursor: pointer;
    background-color: #000000;
    color: #fff;
}

input[type="radio"]:focus+label {
    background-color: #fff;
    border: 5px solid #FFB31A;
    color: #000000;
}

input[type="radio"]:checked+label {
    background-color: #FFB31A;
    color: #000;
    border: none;
}

input[type="radio"].reussi+label {
    border: none;
    background-color: #197B00;
    color: white;
}

input[type="radio"].incorrect+label {
    border: none;
    background-color: #A30000;
    color: white;
}


/* Boutons */
.p-bouton {
    text-align: center;
    margin-bottom: 50px;
    margin-top: 50px;
}

.button-validation, .button-demarrer {
    margin: 0 auto;
    background-color: #523F00;
    color: #fff;
    width: 200px;
    height: 60px;
    border-radius: 10px;

    font-family: 'Viga';
    font-style: normal;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 27px;
    color: #FFFFFF;
}


.button-validation:hover, .button-demarrer:hover {
    background-color: #FFFFFF;
    color: #523F00;
    border: #523F00 1px solid;
    cursor: pointer;
}

.button-validation:focus, .button-demarrer:focus {
    background-color: #FFFFFF;
    color: #523F00;
    border: #523F00 5px solid;
}

.button-validation:disabled {
    background-color: rgb(220, 220, 220);
    color: #000;
}


/* ------------------------------------------------------------------------------------------------------------------------------- */

/* QUESTIONS */



.sous-question {
    background-color: rgba(255, 255, 255, 0.804);
    display: inline-block;
    padding: 5px 10px;
    margin: 0px;
}

h3 {
    margin: 20px 0 5px;
}


.choixReponses,
.choixReponses__question3 {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 0;
    text-align: center;
    gap: 11px;
}

@media (min-width: 650px) {

    .choixReponses,
    .choixReponses__question3 {
        flex-direction: row;
        flex-wrap: wrap;
    }
}

@media (min-width: 930px) {
    .choixReponses {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding: 0;
        text-align: center;
        gap: 30px;
        margin: 0 auto;
        /* margin-left: 60px; */

    }

}

.reponse {
    display: flex;
    flex-direction: column;
    /* margin: 60px 0; */
}

@media (min-width: 930px) {
    .reponse {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: space-between;

    }
}

.choixReponses__question3 {
    margin: 60px 0;
}

@media screen and (min-width:650px) and (max-width:1000px) {
    .choixReponses__question3 {
        display: grid;
        grid-gap: 1em;
        grid-template-areas:
            "item__q3a  item__q3b"
            "item__q3c item__q3d"
    }
}

.image_questions1-2 {
    width: 330px;

}

@media (min-width: 650px) {
    .image_questions1-2 {

        width: 490px;
    }
}


.images__questions1-2 {
    display: flex;
    justify-content: center;
}

.image_question3 {
    width: 290px;
}


@media (min-width: 930px) {
    .images__questions1-2 {
        justify-content: flex-start;
    }
}


.message-retroaction {
    background-color: rgba(255, 255, 255, 0.804);
    display: inline-block;
    padding: 5px 10px;
    margin: 0px;
}

/* ------------------------------------------------------------------------------------------------------------------ */
/* INTRODUCTION */
.introduction {
    padding: 0 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

.img_intro {
    width: 660px;
}

.p-intro {
    margin: 30px auto;
    /* width: 600px; */
    text-align: center;

    font-family: 'Raleway';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 155%;

    color: #000000;
}

@media (min-width:660px) {
    .p-intro {
        width: 600px;
    }
}

.p-sous_titre {

    font-family: 'Viga';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    text-align: center;

    color: #856700;
}


/* ------------------------------------------------------------------------------------------------------------------ */

/* FOOTER */

.p_footer {
    text-align: center;
    padding: 20px;
    margin: 0;
    font-size: 1rem;
}

footer {
    background-color: #E8E8E8;
}

/* ------------------------------------------------------------------------------------------------------------------ */

/* JAVASCRIPT */

.js .cache {
    display: none;
}


.js .correct {
    color: #197B00;
    display: flex;
    align-items: center;
    justify-content: center;
}

.js .incorrect {
    color: #A30000;
    display: flex;
    align-items: center;
    justify-content: center;
}



/* BARRE PROGRESSION */
.p-Progression {
    margin: 0;
}

.progression {

    font-family: 'Viga';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 27px;
    /* identical to box height */
    display: flex;
    align-items: center;
    text-align: center;

    color: #000000;

    margin-top: 50px;

}

.rectangleParent {

    width: 150px;
    height: 13px;
    background: #D9D9D9;
    border-radius: 30px;
    margin-left:10px ;
}

.rectangle1 {
    width: 50px;
    height: 13px;
    background: #FF0000;
    border-radius: 30px;
}

.rectangle2 {
    width: 100px;
    height: 13px;
    background: #FF0000;
    border-radius: 30px; 
}

.rectangle3 {
    width: 150px;
    height: 13px;
    background: #FF0000;
    border-radius: 30px;
}


/* RÉSULTAT */

.h2Resultat{
    color: white;
    margin: 0;
    padding: 0;
}
.p-resultat{
    font-family: 'viga';
    color: white;
    font-size: 4rem;
    margin: 0;
    padding: 0;
}

.div-resultat-txt{
    background-color:rgba(0, 0, 0, 0.3);
    text-align: center;
    padding: 30px;
    width: 250px;
    margin: 0 auto;

}
@media (min-width: 500px) {
    .div-resultat-txt {
        width: 380px;
      
    }
}
@media (min-width: 650px) {
    .div-resultat-txt {
        width: 400px;
      
    }
}

.bkg-resultat{
    background-image: url(../images_optimisees/1320/cassia-tofano-9hjwGdISzW8-unsplash-1320.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    width: 290px;
    height: 380px;
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
}
@media (min-width: 500px) {
    .bkg-resultat{
        width: 450px;
        height: 380px;
    }
}
@media (min-width: 650px) {
    .bkg-resultat {
        width: 620px;
      
    }
}
@media (min-width: 950px) {
    .bkg-resultat {
        width: 900px;
        height: 500px;
      
    }
}

.afficherResultat{
    min-width: 100vh;
}